# 1.Write a program to check the year is a leap year or not

Concept: if : to check condition
% (modulus) operator : calculate the remainder

==:equalty operator
a=3: assigning the value to a (equality operator)
a==3: checking whether a is equal to 3 or not

and: bth conditions should be true
or: one or both conditions to be true

!=unequal or not equal to

In [ ]:
year= int(input("enter year to be checked"))
if(year %4==0 and year %100!=0 or year %400==0):
  print("Year is a leap year")
else:
  print("Year is not a leap year")

enter year to be checked2000
Year is a leap year

# 2.convert height entered cms to inches

 concept:
 round : round off by the number of decimal places

In [ ]:
cm= int(input("enter height in centimeters:"))
inches=cm*0.394
feet=cm*0.0328
print("height in inches",round(inches,2))
print("height in feet",round(feet,2))

Sequence Data Type:

List:for multiple values , [ ]

In [ ]:
kilos= int(input("Enter weight in kilos"))
grams= kilos*1000
print("Weight in grams",(grams))

Enter weight in kilos10
Weight in grams 10000

In [ ]:
num=int(input("enter number"))
dozens=num/12
print("dozens",(dozens))

enter number36
dozens 3.0

In [ ]:
year= int(input("Enter year"))
if (year %4==0 and year %100!=0 or year %400==0):
  print("Leap year")
else:
  print ("Not a leap year" )

Enter year2000
Leap year

In [ ]:
list1=[3,5,8,9]
print(list1)

[3, 5, 8, 9]

In [ ]:
#len fuction will give the length of the list
len(list1)

4

In [ ]:
list2=["maths","english","CS"]
print(list2)

['maths', 'english', 'CS']

In [ ]:
list3=["maths",5,"CS"]
print(list3)
len(list3)

['maths', 5, 'CS']

3

In [ ]:
list1=[8,5,7,9,6,3,"m",4]
print (list1)

[8, 5, 7, 9, 6, 3, 'm', 4]

In [ ]:
list1[-7]

8

index: position of element(value) inthe List

Positive index- 0----
Negative index -1

In [ ]:
list1[1]

5

In [ ]:
list2[-3]

'maths'

Slice:access the element of list within the specified index values

In [ ]:
list1[0:2]

[3, 5]

In [ ]:
a =" hello, world "
print (a.split("r"))

[' hello, wo', 'ld ']

Assignment :
1.Create a list of sandwich ingredients you can think of and get some of the ingredients out of itin a separate list.
2.You have a list with subjects and marks eg: ["English", 90, "Maths", 95----](5subjects). Write Python code to extract a list of marks only out of the first list. eg[90,95]

In [ ]:
#1.Create a list of sandwich ingredients you can think of and get some of the ingredients out of it in a separate list.
sandwichingredients=["bread","cucumber","tomato","butter","cheese","lettuce","pepper"]
print(sandwichingredients)
print(sandwichingredients[0:5])
sandwichingredients[0:5]

['bread', 'cucumber', 'tomato', 'butter', 'cheese', 'lettuce', 'pepper']
['bread', 'cucumber', 'tomato', 'butter', 'cheese']

['bread', 'cucumber', 'tomato', 'butter', 'cheese']

In [1]:
#2.You have a list with subjects and marks eg: ["English", 90, "Maths", 95----](5subjects). Write Python code to extract a list of marks only out of the first list. eg[90,95]
list4=["English",90,"Maths",94,"Science",96,"Computers",88,"Hindi",83]
marks=list4[1::2]
print(marks)

[90, 94, 96, 88, 83]